<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Restoran</title>
</head>
<body>
    <div th:if="${isDelete}"><h2 th:text="'Restoran dengan nama ' + ${resto.getNama()} + ' berhasil didelete.'"></h2></div>
    <div th:unless="${isDelete}"><h2 th:text="'Restoran dengan nama ' + ${resto.getNama()} + ' gagal didelete.'"></h2></div>
    
</body>
</html>