<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <head th:replace="fragments/fragment :: headerFragment (pageTitle='Delete Menu')"></head>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body class="text-center">
        <nav th:replace="fragments/fragment :: navbar  (brand='Delete Menu')"></nav>
    <h2 th:text="'Menu telah berhasil dihapus.'"></h2>
</body>
</html>