<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Restoran</title>
</head>
<body>
    <div th:if="${resto == null}">
        <h1>Tidak ada restoran yang dihapus, karena restoran tidak pernah di daftarkan.</h1>
    </div>
    <div th:unless="${resto == null}">
        <h2 th:text="'Restoran dengan nama ' + ${resto.getNama()} + ' berhasil dihapus'"></h2>
    </div>
</body>
</html>