<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <head th:replace="fragments/fragment :: headerFragment (pageTitle='Add Menu')"></head>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body class="text-center">
    <nav th:replace="fragments/fragment :: navbar  (brand='Add Menu')"></nav>
    <h3 class="p-4">Tambah Produk</h3>
    <form th:action="@{/menu/add}" th:object="${menu}" method="POST">
        <div class="d-flex justify-content-center" >
        <table>
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Deskripsi</th>
                    <th>Harga</th>
                    <th>Durasi Masak (menit)</th>
                    <th>
                        <a th:href="@{/add/row}"><input type="button" class="btn btn-primary" value="Add Row"></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="nama">
                    </td>
                    <td>
                        <input type="text" name="deskripsi">
                    </td>
                    <td>
                        <input type="number" name="harga">
                    </td>
                    <td>
                        <input type="number" name="durasiMasak">
                    </td>
                    <td>
                        <input type="button" class="btn btn-danger" th:value="hapus">
                    </td>
                </tr>
                <div></div>
            </tbody>
        </table>
    </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>
</html>