<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <head th:replace="fragments/fragment :: headerFragment (pageTitle='Change Menu')"></head>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body class="text-center">
        <nav th:replace="fragments/fragment :: navbar  (brand='Change Menu')"></nav>
    <h2>Change Data Menu</h2>
    <form th:action="@{/menu/change/{idRestoran}/{id}(id=${menu.getId()},idRestoran=${menu.restoran.getIdRestoran()})}" th:object="${menu}" method="POST">
        <input type="hidden" th:field="${menu.id}">
        <br>
        Nama Menu : <br>
        <input type="text" name="nama" th:value="${menu.getNama()}">
        <br>
        Deskripsi : <br>
        <input type="text" name="deskripsi" th:value="${menu.getDeskripsi()}">
        <br>
        Harga : <br>
        <input type="number" name="harga" th:value="${menu.getHarga()}">
        <br>
        Durasi Masak (menit) : <br>
        <input type="number" name="durasiMasak" th:value="${menu.getDurasiMasak()}">
        <br>
        <input type="hidden" th:field="${menu.restoran}">
        <br><br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>