<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Restoran</title>
</head>
<body>
    <h3>Tambah Restoran</h3>
    <form th:action="@{/restoran/add}" th:object="${restoran}" method="POST">
        Nama : <br>
        <input type="text" name="nama">
        <br>
        Alamat : <br>
        <input type="text" name="alamat">
        <br>
        Nomor Telepon : <br>
        <input type="number" name="nomorTelepon">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>