<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Menu</title>
</head>
<body>
    <h3>Tambah Produk</h3>
    <form th:action="@{/menu/add}" th:object="${menu}" method="POST">
        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" th:field="*{restoran}">
        Nama : <br>
        <input type="text" name="nama">
        <br>
        Deskripsi : <br>
        <input type="text" name="deskripsi">
        <br>
        Harga : <br>
        <input type="number" name="harga">
        <br>
        Durasi Masak (menit) : <br>
        <input type="number" name="durasiMasak">
        <br>
        <button
         type="submit">Submit</button>
    </form>
</body>
</html>