<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <head th:replace="fragments/fragment :: headerFragment (pageTitle='Home')"></head>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body class="w100 text-center container ">
    <nav th:replace="fragments/fragment :: navbar  (brand='Home')"></nav>

    <h2>Selamat datang di GOPUD!</h2>
    <h3>Restoran terbaik di seluruh Indonesia</h3>

    <div>
        <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser} + ' '">Login as</h2>
    </div>
    <button class="btn btn-primary">
        <a th:href="@{/restoran/view-all}" style="color:black">View All Restoran</a>
    </button>


    <div>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <div class="card">
                        <div class="card-header">Tambah User Baru</div>
                        <div class="card-body">
                            <form th:action="@{/user/addUser}" method="POST">
                                <label for="username">Usernama</label>
                                <input type="text" name="username" id="username" class="form-control">
                                <label for="password">password</label>
                                <input type="text" name="password" id="password" class="form-control" pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}" title="Password harus mengandung angka dan huruf, serta minimal memiliki 8 character">
    
                                <label for="role">Role</label>
                                <select name="role" id="role" class="form-control">
                                    <option value="" selected>--Pilih Role--</option>
                                    <option th:each="roleAvailable:${listRole}" th:value="${roleAvailable.id}" th:text="${roleAvailable.role}"></option>
                                </select>
    
                                <button type="submit" class="btn btn-primary mt-3">Simpan</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <hr>
    <div class="row text-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Tambah Restoran</div>
                <div class="card-body">
                    <p>Fitur untuk menambah restoran</p>
                    <button class="btn btn-primary">
                        <a th:href="@{/restoran/add}" style="color: white">Tambah Restoran</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Cari Restoran Berdasarkan ID</div>
                <div class="card-body">
                    <form th:action="@{/restoran/view}" method="get">
                        <label for="idRestoran">Id Restoran</label>
                        <input id="idRestoran" name="idRestoran" class="form-control">
                        <br>
                        <button class="btn btn-primary" type="submit">Cari</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>