<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <head th:replace="fragments/fragment :: headerFragment (pageTitle='View All')"></head>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body class="text-center">
        <nav th:replace="fragments/fragment :: navbar  (brand='View All')"></nav>
    <div class="h2">Daftar Seluruh Restoran</div>    
    <div th:if="${restoranList == null}">
        <h1>Tidak ada restoran yang terdaftar!!!</h1>    
    </div>
    <div th:unless="${restoranList == null }">
        <div th:each="resto : ${restoranList}">
            <h3 th:text ="'ID Restoran: ' + ${resto.getIdRestoran()}"></h3>
            <h3 th:text ="'Nama Restoran: ' + ${resto.getNama()}"></h3>
            <h3 th:text ="'Alamat Restoran: ' + ${resto.getAlamat()}"></h3>
            <h3 th:text ="'Nomor Telp. Restoran: ' + ${resto.getNomorTelepon()}"></h3>
        </div>
    </div>

</body>
</html>