<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Restoran</title>
</head>
<body>
        <div th:if="${resto == null}">
            <h1>Restoran yang dicari tidak dapat ditemukan!!!</h1>    
        </div>
        <div th:unless="${resto == null }">
            <h2>Informasi Restoran</h2>
                <h3 th:text ="'ID Restoran: ' + ${resto.getIdRestoran()}"></h3>
                <h3 th:text ="'Nama Restoran: ' + ${resto.getNama()}"></h3>
                <h3 th:text ="'Alamat Restoran: ' + ${resto.getAlamat()}"></h3>
                <h3 th:text ="'Nomor Telp. Restoran: ' + ${resto.getNomorTelepon()}"></h3>
        
        <td><a th:href="@{/restoran/change/}+${resto.getIdRestoran()}"> Change Data Restoran </a></td>
        <br>
        <td><a th:href="@{/restoran/delete/}+${resto.getIdRestoran()}"> Delete Data Restoran </a></td>
        <br>

        <h2>Daftar Menu :</h2>
        <form th:action="@{/menu/delete/}" th:object="${resto}" method="POST">
        <table style="text-align: center">
        <thead>
            <tr>
                <th>No</th>
                <th>Id Menu</th>
                <th>Nama</th>
                <th>Harga</th>
                <th>Deskripsi</th>
                <th>Durasi Penyajian</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="menu, iterationStatus : *{listMenu}" th:style="${iterationStatus.even} ? 'color:blue'">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${menu.getId()}"></td>
                <td th:text="${menu.getNama()}"></td>

                <td th:if="${menu.getHarga()} >= 10000">Harga diatas 10k</td>
                <td th:unless="${menu.getHarga()} >= 10000">Harga dibawah 10k</td>
                
                <td th:text="${menu.getDeskripsi()}"></td>
                <td th:text="${menu.getDurasiMasak()} >=10 ? 'diatas 10' : 'dibawah 10'"></td>
                
                <td>
                    <input type="checkbox" th:field="*{listMenu}" th:value="${menu.id}">
                    <label for="${#ids.prev('listMenu')}">Hapus</label>
                    <br>
                    <a th:href="@{/menu/change/} + ${resto.getIdRestoran()} + '/' + ${menu.getId()}">Change Data</a>
                </td>
                
            </tr>
                    
        </tbody>
        </table>
        <button type="submit" class="btn btn-sm btn-danger">Hapus yang dipilih</button>
        </form>
        <!--
        
        <a th:href="@{/menu/delete/} + ${resto.getIdRestoran()} + '/' + ${menu.getId()}">Delete Data Menu</a>
        -->
        <td><a th:href="@{/menu/add/} + ${resto.getIdRestoran()}">Add Menu</a></td>
        </div>
</body>
</html>