.Restorans{
    margin-top: 2%;
}

.Title{
    width: 50%;
    padding-top: 5%;
    margin: auto;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.AddRestoranButton{
    background-color: #c6e377;
    outline: none;
    cursor: pointer;
    border: 2px solid #8186d5;
    color: black;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px #36622b;
}

.AddRestoranButton:hover, .AddRestoranButton:active{
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: black;
    font-weight: bold;
}

.ButtonLayout{
    width:50%;
    margin:auto;
    justify-items: right;
    padding-top: 20px;
}

.searchForm{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}